<section class="gh-canvas">
    <header class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>代码插入</h2>
        <section class="view-actions">
            {{gh-task-button task=save class="gh-btn gh-btn-blue gh-btn-icon" data-test-save-button=true}}
        </section>
    </header>

    {{#if showLeaveSettingsModal}}
        {{gh-fullscreen-modal "leave-settings"
            confirm=(action "leaveSettings")
            close=(action "toggleLeaveSettingsModal")
            modifier="action wide"}}
    {{/if}}

    <section class="view-continer">
        <form id="settings-code" novalidate="novalidate">
            <fieldset>
                <p>
                    Ghost允许您将代码注入主题文件的顶部和底部，而无需编辑它们。 这允许快速修改以插入有用的内容，例如跟踪代码和元标记。
                </p>

                <div class="form-group settings-code">
                    <label for="ghost-head">博客页眉</label>
                    <p>此处的代码将被注入到博客每个页面的 <code>\{{ghost_head}}</code> 标记中</p>
                    {{gh-cm-editor settings.ghostHead id="ghost-head" class="gh-input settings-code-editor" name="codeInjection[ghost_head]" type="text" update=(action (mut settings.ghostHead))}}
                </div>

                <div class="form-group settings-code">
                    <label for="ghost-foot">博客页脚</label>
                    <p>此处的代码将被注入到博客每个页面的 <code>\{{ghost_foot}}</code> 标记中</p>
                    {{gh-cm-editor settings.ghostFoot id="ghost-foot" class="gh-input settings-code-editor" name="codeInjection[ghost_foot]" type="text" update=(action (mut settings.ghostFoot))}}
                </div>
            </fieldset>
        </form>
    </section>
</section>
