<section class="gh-canvas">
    <header class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>常规</h2>
        <section class="view-actions">
            {{gh-task-button "保存设置" task=save class="gh-btn gh-btn-blue gh-btn-icon" data-test-save-button=true}}
        </section>
    </header>

    {{#if showLeaveSettingsModal}}
        {{gh-fullscreen-modal "leave-settings"
            confirm=(action "leaveSettings")
            close=(action "toggleLeaveSettingsModal")
            modifier="action wide"}}
    {{/if}}

    <section class="view-container">

        <div class="gh-setting-header">博客信息</div>
        <div class="gh-setting">
            <div class="gh-setting-content">
                <div class="gh-setting-title">标题 &amp; 描述</div>
                <div class="gh-setting-desc">用于在Web上标识您博客的详细信息</div>
                {{#liquid-if pubInfoOpen}}
                <div class="gh-setting-content-extended">
                    {{#gh-form-group errors=settings.errors hasValidated=settings.hasValidated property="title"}}
                        {{gh-text-input
                            value=(readonly settings.title)
                            input=(action (mut settings.title) value="target.value")
                            focus-out=(action "validate" "title" target=settings)
                            data-test-title-input=true
                        }}
                        {{gh-error-message errors=settings.errors property="title"}}
                        <p>您网站的名称</p>
                    {{/gh-form-group}}

                    {{#gh-form-group errors=settings.errors hasValidated=settings.hasValidated property="description" class="description-container"}}
                        {{gh-text-input
                            value=(readonly settings.description)
                            input=(action (mut settings.description) value="target.value")
                            focus-out=(action "validate" "description" target=settings)
                            data-test-description-input=true
                        }}
                        {{gh-error-message errors=settings.errors property="description"}}
                        <p>用于您的主题，元数据和搜索结果</p>
                    {{/gh-form-group}}
                </div>
                {{/liquid-if}}
            </div>
            <div class="gh-setting-action">
                <button type="button" class="gh-btn gh-btn-hover-blue" {{action (toggle "pubInfoOpen" this)}} data-test-toggle-pub-info><span>{{if pubInfoOpen "关闭" "展开"}}</span></button>
            </div>
        </div>
        <div class="gh-setting">
            <div class="gh-setting-content">
                <div class="gh-setting-title">网站时区</div>
                <div class="gh-setting-desc">设置发布的时间和日期，用于所有已发布的文章</div>
                {{#liquid-if timezoneOpen}}
                <div class="gh-setting-content-extended">
                    {{gh-timezone-select
                            activeTimezone=settings.activeTimezone
                            availableTimezones=availableTimezones
                            update=(action "setTimezone")}}
                </div>
                {{/liquid-if}}
            </div>
            <div class="gh-setting-action">
                <button type="button" class="gh-btn gh-btn-hover-blue" {{action (toggle "timezoneOpen" this)}} data-test-toggle-timezone><span>{{if timezoneOpen "关闭" "展开"}}</span></button>
            </div>
        </div>
        <div class="gh-setting">
            <div class="gh-setting-content">
                <div class="gh-setting-title">博客语言</div>
                <div class="gh-setting-desc">设置您网站上使用的语言/区域</div>
                {{#liquid-if defaultLocaleOpen}}
                <div class="gh-setting-content-extended">
                    {{#gh-form-group errors=settings.errors hasValidated=settings.hasValidated property="defaultLocale"}}
                        {{gh-text-input
                            value=(readonly settings.defaultLocale)
                            input=(action (mut settings.defaultLocale) value="target.value")
                            focus-out=(action "validate" "defaultLocale" target=settings)
                            data-test-default-locale-input=true
                        }}
                        {{gh-error-message errors=settings.errors property="defaultLocale"}}
                        <p>默认: 英语 (<strong>en</strong>); 您可以将<a href="https://themes.ghost.org/docs/i18n" target="_blank" rel="noopener">任何语言</a>的翻译文件添加到主题中</p>
                    {{/gh-form-group}}
                </div>
                {{/liquid-if}}
            </div>
            <div class="gh-setting-action">
                <button type="button" class="gh-btn gh-btn-hover-blue" {{action (toggle "defaultLocaleOpen" this)}} data-test-toggle-default-locale><span>{{if defaultLocaleOpen "关闭" "展开"}}</span></button>
            </div>
        </div>

        <div class="gh-setting-header">博客标识</div>
        <div class="gh-setting" data-test-setting="icon">
            {{#gh-uploader
                extensions=iconExtensions
                uploadUrl="/uploads/icon/"
                onComplete=(action "imageUploaded" "icon")
                as |uploader|
            }}
            <div class="gh-setting-content">
                <div class="gh-setting-title">博客的icon图标</div>
                <div class="gh-setting-desc">在您的博客的UI中使用的方形社交图标，至少60x60px</div>
                {{#each uploader.errors as |error|}}
                    <div class="gh-setting-error" data-test-error="icon">{{error.message}}</div>
                {{/each}}
            </div>
            <div class="gh-setting-action gh-setting-action-smallimg">
                {{#if uploader.isUploading}}
                    {{uploader.progressBar}}
                {{else if settings.icon}}
                    <img class="blog-icon" src="{{settings.icon}}" onclick={{action "triggerFileDialog"}} alt="icon" data-test-icon-img>
                    <button type="button" class="gh-setting-action-smallimg-delete" {{action "removeImage" "icon"}} data-test-delete-image="icon">
                        <span>删除</span>
                    </button>
                {{else}}
                    <button type="button" class="gh-btn gh-btn-hover-blue" onclick={{action "triggerFileDialog"}} data-test-image-upload-btn="icon">
                        <span>上传图片</span>
                    </button>
                {{/if}}
                <div style="display:none">
                    {{gh-file-input multiple=false action=uploader.setFiles accept=iconMimeTypes data-test-file-input="icon"}}
                </div>
            </div>
            {{/gh-uploader}}
        </div>
        <div class="gh-setting" data-test-setting="logo">
            {{#gh-uploader
                extensions=imageExtensions
                onComplete=(action "imageUploaded" "logo")
                as |uploader|
            }}
            <div class="gh-setting-content">
                <div class="gh-setting-title">博客的logo</div>
                <div class="gh-setting-desc"> 在您的主题中显示的品牌的主要logo，应该是透明的，至少600px x 72px</div>
                {{#each uploader.errors as |error|}}
                    <div class="gh-setting-error" data-test-error="logo">{{error.message}}</div>
                {{/each}}
            </div>
            <div class="gh-setting-action gh-setting-action-smallimg">
                {{#if uploader.isUploading}}
                    {{uploader.progressBar}}
                {{else if settings.logo}}
                    <img class="blog-logo" src="{{settings.logo}}"  onclick={{action "triggerFileDialog"}} alt="logo" data-test-logo-img>
                    <button type="button" class="gh-setting-action-smallimg-delete" {{action "removeImage" "logo"}} data-test-delete-image="logo">
                        <span>删除</span>
                    </button>
                {{else}}
                    <button type="button" class="gh-btn" onclick={{action "triggerFileDialog"}} data-test-image-upload-btn="logo">
                        <span>上传图片</span>
                    </button>
                {{/if}}
                <div style="display:none">
                    {{gh-file-input multiple=false action=uploader.setFiles accept=imageMimeTypes data-test-file-input="logo"}}
                </div>
            </div>
            {{/gh-uploader}}
        </div>
        <div class="gh-setting" data-test-setting="coverImage">
            {{#gh-uploader
                extensions=imageExtensions
                onComplete=(action "imageUploaded" "coverImage")
                as |uploader|
            }}
            <div class="gh-setting-content">
                <div class="gh-setting-title">博客封面</div>
                <div class="gh-setting-desc">适用于您网站的可选大背景图片</div>
                {{#each uploader.errors as |error|}}
                    <div class="gh-setting-error" data-test-error="coverImage">{{error.message}}</div>
                {{/each}}
            </div>
            <div class="gh-setting-action gh-setting-action-largeimg">
                {{#if uploader.isUploading}}
                    {{uploader.progressBar}}
                {{else if settings.coverImage}}
                    <img class="blog-cover" src="{{settings.coverImage}}"  onclick={{action "triggerFileDialog"}} alt="cover photo" data-test-cover-img>
                    <button type="button" class="gh-setting-action-largeimg-delete" {{action "removeImage" "coverImage"}} data-test-delete-image="coverImage">
                        <span>删除</span>
                    </button>
                {{else}}
                    <button type="button" class="gh-btn" onclick={{action "triggerFileDialog"}} data-test-image-upload-btn="coverImage">
                        <span>上传图片</span>
                    </button>
                {{/if}}
                <div style="display:none">
                    {{gh-file-input multiple=false action=uploader.setFiles accept=imageMimeTypes data-test-file-input="coverImage"}}
                </div>
            </div>
            {{/gh-uploader}}
        </div>

        <div class="gh-setting-header">社交帐户</div>
        <div class="gh-setting">
            <div class="gh-setting-content">
                <div class="gh-setting-title">社交帐户</div>
                <div class="gh-setting-desc">将您的社交帐户链接到完整的结构化数据和丰富的卡片支持</div>
                {{#liquid-if socialOpen}}
                <div class="gh-setting-content-extended">
                    {{#gh-form-group errors=settings.errors hasValidated=settings.hasValidated property="facebook"}}
                        {{gh-text-input
                            type="url"
                            placeholder="https://www.facebook.com/ghost"
                            autocorrect="off"
                            value=(readonly settings.facebook)
                            input=(action (mut _scratchFacebook) value="target.value")
                            focus-out=(action "validateFacebookUrl")
                            data-test-facebook-input=true
                        }}
                        {{gh-error-message errors=settings.errors property="facebook" data-test-facebook-error=true}}
                        <p>您的博客的Facebook页面的URL</p>
                    {{/gh-form-group}}
                    {{#gh-form-group errors=settings.errors hasValidated=settings.hasValidated property="twitter"}}
                        {{gh-text-input
                            type="url"
                            placeholder="https://twitter.com/tryghost"
                            autocorrect="off"
                            value=(readonly settings.twitter)
                            input=(action (mut _scratchTwitter) value="target.value")
                            focus-out=(action "validateTwitterUrl")
                            data-test-twitter-input=true
                        }}
                        {{gh-error-message errors=settings.errors property="twitter" data-test-twitter-error=true}}
                        <p>您的博客的Twitter个人资料的URL</p>
                    {{/gh-form-group}}
                </div>
                {{/liquid-if}}
            </div>
            <div class="gh-setting-action">
                <button type="button" class="gh-btn gh-btn-hover-blue" {{action (toggle "socialOpen" this)}} data-test-toggle-social><span>{{if socialOpen "关闭" "展开"}}</span></button>
            </div>
        </div>

        <div class="gh-setting-header">高级设置</div>
        <div class="gh-setting">
            <div class="gh-setting-content">
                <div class="gh-setting-title">将此网站设为私有</div>
                <div class="gh-setting-desc">
                    使用简单的共享密码启用保护。 所有搜索引擎优化和社交功能都将被禁用。

                    {{#if settings.isPrivate}}
                        <span class="avoid-break-out">
                            <br><br>
                            私人RSS提要可在
                            <a href="{{privateRSSUrl}}" target="_blank" rel="noopener">{{privateRSSUrl}}</a>
                        </span>
                    {{/if}}
                </div>

                {{#if settings.isPrivate}}
                    <div class="gh-setting-content-extended">
                        {{#gh-form-group errors=settings.errors hasValidated=settings.hasValidated property="password"}}
                            {{gh-text-input
                                value=(readonly settings.password)
                                name="general[password]"
                                focus-out=(action "validate" "password" target=settings)
                                input=(action (mut settings.password) value="target.value")
                                data-test-password-input=true
                            }}
                            {{gh-error-message errors=settings.errors property="password" data-test-password-error=true}}
                            <p>设置此站点的密码</p>
                        {{/gh-form-group}}
                    </div>
                {{/if}}
            </div>
            <div class="gh-setting-action">
                <div class="for-checkbox">
                    <label class="checkbox" for="settings-private">
                        <input
                            type="checkbox"
                            checked={{settings.isPrivate}}
                            id="settings-private"
                            onclick={{action "toggleIsPrivate" value="target.checked"}}
                            data-test-private-checkbox
                        >
                        <span class="input-toggle-component"></span>
                    </label>
                </div>
            </div>
        </div>

    </section>
</section>

{{outlet}}
