<section class="gh-canvas">
    <header class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>实验功能</h2>
    </header>

    <section class="view-container settings-debug">
        <p class="gh-box gh-box-info">{{svg-jar "idea"}} 这是实验性功能的试验场，这些功能尚未完全做好准备。 它们可能随时改变，破裂或莫名其妙地消失。</p>

        <div class="gh-setting-header">迁移选项</div>
        <div class="gh-setting">
            <div class="gh-setting-content">
                <div class="gh-setting-title">导入内容</div>
                <div class="gh-setting-desc">从另一个Ghost安装导入帖子</div>
            </div>
            <div class="gh-setting-action">
                <form id="settings-import" enctype="multipart/form-data">
                    {{gh-file-upload
                        id="importfile"
                        classNames="flex"
                        uploadButtonText=uploadButtonText
                        onUpload=(action "onUpload")
                        acceptEncoding=importMimeType
                        data-test-file-input="import"}}
                </form>
            </div>
        </div>

        {{#if importErrors}}
            <div class="gh-import-errors {{if importSuccessful "gh-import-errors-warning"}}" data-test-import-errors>
                <div class="gh-import-errors-title">
                    {{#if importSuccessful}}
                        导入成功并带有警告
                    {{else}}
                        导入失败
                    {{/if}}
                </div>

                {{#each importErrors as |error|}}
                    <div class="gh-import-error" data-test-import-error>
                        <p class="gh-import-error-message" data-test-import-error-message>
                            {{#if error.help}}{{error.help}}: {{/if}}{{error.message}}
                        </p>

                        {{#if error.context}}
                            <div class="gh-import-error-entry" data-test-import-error-context>
                                <pre>{{error.context}}</pre>
                            </div>
                        {{/if}}
                    </div>
                {{/each}}
            </div>
        {{/if}}

        <div class="gh-setting">
            <div class="gh-setting-content">
                <div class="gh-setting-title">导出您的内容</div>
                <div class="gh-setting-desc">在一个极好的JSON文件中下载所有帖子和设置</div>
            </div>
            <div class="gh-setting-action">
                <button type="button" class="gh-btn gh-btn-hover-blue" {{action "downloadFile" "db"}}><span>导出</span></button>
            </div>
        </div>
        <div class="gh-setting">
            <div class="gh-setting-content">
                <div class="gh-setting-title">删除所有内容</div>
                <div class="gh-setting-desc">永久删除数据库中的所有帖子和标签，重置</div>
            </div>
            <div class="gh-setting-action">
                <button type="button" class="gh-btn gh-btn-hover-red js-delete" {{action "toggleDeleteAllModal"}}><span>删除</span></button>
            </div>
        </div>

        <div class="gh-setting-header">测试工具</div>
        <div class="gh-setting">
            <div class="gh-setting-content">
                <div class="gh-setting-title">测试邮箱设置</div>
                <div class="gh-setting-desc">给自己发一封测试电子邮件，确保一切正常</div>
            </div>
            <div class="gh-setting-action">
                {{gh-task-button "发送" successText="发送" task=sendTestEmail class="gh-btn gh-btn-hover-blue gh-btn-icon"}}
            </div>
        </div>

        <div class="gh-setting-header">测试版功能</div>
        {{#if (not-eq feature.labs.publicAPI undefined)}}
            <div class="gh-setting">
                <div class="gh-setting-content">
                <div class="gh-setting-title">公共 API (deprecated)</div>
                <div class="gh-setting-desc">⚠️ 请改用内容API，<a href="https://docs.ghost.org/api/content/">文档</a>中的更多信息</div>
                </div>
                <div class="gh-setting-action">
                    <div class="for-checkbox">{{gh-feature-flag "publicAPI"}}</div>
                </div>
            </div>
        {{/if}}
        <div class="gh-setting">
            <div class="gh-setting-content">
                <div class="gh-setting-title">夜间模式</div>
                <div class="gh-setting-desc">将Ghost管理员的颜色交换为深色背景，这对眼睛更好</div>
            </div>
            <div class="gh-setting-action">
                <div class="for-checkbox">{{gh-feature-flag "nightShift"}}</div>
            </div>
        </div>
        <div class="gh-setting">
            <div class="gh-setting-content">
                <div class="gh-setting-title">订阅者</div>
                <div class="gh-setting-desc">从您的读者收集电子邮件地址，<a href="https://help.ghost.org/hc/en-us/articles/224089787-Subscribers-Beta">文档</a>中的更多信息</div>
            </div>
            <div class="gh-setting-action">
                <div class="for-checkbox">{{gh-feature-flag "subscribers"}}</div>
            </div>
        </div>
        <div class="gh-setting">
            {{#gh-uploader
                extensions=jsonExtension
                uploadUrl="/redirects/json/"
                paramName="redirects"
                onUploadSuccess=(perform redirectUploadResult true)
                onUploadFailure=(perform redirectUploadResult false)
                as |uploader|
            }}
            <div class="gh-setting-content">
                <div class="gh-setting-title">重定向</div>
                <div class="gh-setting-desc">为旧内容或移动内容配置重定向，<a href="https://docs.ghost.org/docs/redirects">文档</a>中的详细信息</div>
                {{#each uploader.errors as |error|}}
                    <div class="gh-setting-error" data-test-error="redirects">{{error.message}}</div>
                {{/each}}
            </div>
            <div class="gh-setting-action" style="display: flex; flex-direction: column">
                {{#if uploader.isUploading}}
                    {{uploader.progressBar}}
                {{else}}
                    <button
                        type="button"
                        class="gh-btn gh-btn-icon {{if redirectSuccess "gh-btn-green"}} {{if redirectFailure "gh-btn-red"}}"
                        onclick={{action "triggerFileDialog"}}
                        data-test-button="upload-redirects"
                    >
                        <span>
                            {{#if redirectSuccess}}
                                {{svg-jar "check-circle"}} 上传
                            {{else if redirectFailure}}
                                {{svg-jar "retry"}} 上传失败
                            {{else}}
                                上传重定向JSON
                            {{/if}}
                        </span>
                    </button>
                    <span><a href="#" {{action "downloadFile" "redirects/json"}} data-test-link="download-redirects">下载当前的重定向</a></span>
                {{/if}}

                <div style="display:none">
                    {{gh-file-input multiple=false action=uploader.setFiles accept=jsonMimeType data-test-file-input="redirects"}}
                </div>
            </div>
            {{/gh-uploader}}
        </div>
        <div class="gh-setting">
            {{#gh-uploader
                extensions=yamlExtension
                uploadUrl="/settings/routes/yaml/"
                paramName="routes"
                onUploadSuccess=(perform routesUploadResult true)
                onUploadFailure=(perform routesUploadResult false)
                as |uploader|
            }}
            <div class="gh-setting-content">
                <div class="gh-setting-title">路由</div>
                <div class="gh-setting-desc">通过修改routes.yaml文件配置动态路由</div>
                {{#each uploader.errors as |error|}}
                    <div class="gh-setting-error" data-test-error="routes">{{error.message}}</div>
                {{/each}}
            </div>
            <div class="gh-setting-action" style="display: flex; flex-direction: column">
                {{#if uploader.isUploading}}
                    {{uploader.progressBar}}
                {{else}}
                    <button
                        type="button"
                        class="gh-btn gh-btn-icon {{if routesSuccess "gh-btn-green"}} {{if routesFailure "gh-btn-red"}}"
                        onclick={{action "triggerFileDialog"}}
                        data-test-button="upload-routes"
                    >
                        <span>
                            {{#if routesSuccess}}
                                {{svg-jar "check-circle"}} 上传
                            {{else if routesFailure}}
                                {{svg-jar "retry"}} 上传失败
                            {{else}}
                                上传路由YAML
                            {{/if}}
                        </span>
                    </button>
                    <span><a href="#" {{action "downloadFile" "settings/routes/yaml"}} data-test-link="download-routes">下载当前routes.yml</a></span>
                {{/if}}

                <div style="display:none">
                    {{gh-file-input multiple=false action=uploader.setFiles accept=yamlMimeType data-test-file-input="routes"}}
                </div>
            </div>
            {{/gh-uploader}}
        </div>
    </section>
</section>

{{#if showDeleteAllModal}}
    {{gh-fullscreen-modal "delete-all"
                          close=(action "toggleDeleteAllModal")
                          modifier="action wide"}}
{{/if}}
