{{#link-to "editor.new" data-test-mobile-nav="new-story"}}{{svg-jar "pen"}}新文章{{/link-to}}
{{#if (eq router.currentRouteName "posts.index")}}
    {{#link-to "posts" (query-params type=null) classNames="active" data-test-mobile-nav="stories"}}{{svg-jar "content"}}文章列表{{/link-to}}
{{else}}
    {{#link-to "posts"}}{{svg-jar "content" data-test-mobile-nav="stories"}}内容{{/link-to}}
{{/if}}
{{#link-to "team" classNames="gh-nav-main-users" data-test-mobile-nav="team"}}{{svg-jar "account-group"}}团队{{/link-to}}
<div class="gh-mobile-nav-bar-more" {{action "openMobileMenu" target=ui data-test-mobile-nav="more"}}>{{svg-jar "icon" class="icon-gh"}}更多</div>
{{yield}}
