<header class="gh-publishmenu-heading">将于{{timeToPublished}}内发布</header>
<section class="gh-publishmenu-content">
    <div class="gh-publishmenu-radio {{if (eq saveType "draft") "active"}}" {{action "setSaveType" "draft" on="click"}}>
        <div class="gh-publishmenu-radio-button" data-test-publishmenu-draft-option></div>
        <div class="gh-publishmenu-radio-content">
            <div class="gh-publishmenu-radio-label">恢复为草稿</div>
            <div class="gh-publishmenu-radio-desc">不要发布</div>
        </div>
    </div>
    <div class="gh-publishmenu-radio {{if (eq saveType "schedule") "active"}}" {{action "setSaveType" "schedule" on="click"}}>
        <div class="gh-publishmenu-radio-button" data-test-publishmenu-scheduled-option></div>
        <div class="gh-publishmenu-radio-content">
            <div class="gh-publishmenu-radio-label">计划发布</div>
            {{gh-date-time-picker
                date=post.publishedAtBlogDate
                time=post.publishedAtBlogTime
                setDate=(action "setDate")
                setTime=(action "setTime")
                errors=post.errors
                dateErrorProperty="publishedAtBlogDate"
                timeErrorProperty="publishedAtBlogTime"
                minDate=_minDate
            }}
            <div class="gh-publishmenu-radio-desc">设定自动发布的日期</div>
        </div>
    </div>
</section>
