<header>
    <h1>邀请你的团队成员</h1>
    <p>Ghost与他人共享时效果最佳。 协作，获得有关您的文章和反馈的反馈; 共同努力。</p>
</header>

<div><img class="gh-flow-faces" src="assets/img/users.png" alt="" /></div>

<form class="gh-flow-invite" {{action "invite" on="submit"}}>
    {{#gh-form-group errors=errors hasValidated=hasValidated property="users"}}
        <label for="users"> 每行输入一个电子邮件地址，剩下的事就交给我们！ {{svg-jar "email"}}</label>
        {{gh-textarea
            name="users"
            required="required"
            value=(readonly users)
            input=(action (mut users) value="target.value")
            focus-out=(action "validate")
        }}
    {{/gh-form-group}}

    {{#gh-task-button
        task=invite
        type="submit"
        classNameBindings=":gh-btn :gh-btn-default :gh-btn-lg :gh-btn-block buttonClass"
        successClass=""
        failureClass=""
        as |task|
    }}
        <span>
            {{#if task.isRunning}}
                {{svg-jar "spinner" class="no-margin"}}
            {{else}}
                {{buttonText}}
            {{/if}}
        </span>
    {{/gh-task-button}}
</form>

<button class="gh-flow-skip" {{action "skipInvite"}}>
    这些事我稍后再做，去我的网站！
</button>
