<section class="gh-canvas js-settings-content">
    <header class="gh-canvas-header">
        {{svg-jar "ghost-logo" class="gh-logo" alt="Ghost"}}
    </header>
    <section class="view-container">
        <section class="gh-env-details">
            <ul class="gh-env-list">
                <li class="gh-env-list-version"><strong>版本</strong> {{about.version}}</li>
                <li><strong>环境</strong> {{about.environment}}</li>
                <li class="gh-env-list-database-type"><strong>数据库</strong> {{about.database}}</li>
                <li><strong>邮件</strong> {{#if about.mail}}{{about.mail}}{{else}}Native{{/if}}</li>
            </ul>
            <div class="gh-env-help">
                <a class="gh-btn" href="https://help.ghost.org" target="_blank"><span>用户文档</span></a>
                <a class="gh-btn" href="https://forum.ghost.org/" target="_blank"><span>获得Ghost的帮助</span></a>
            </div>
        </section>

        {{#if upgradeStatus.message}}
            <section class="gh-upgrade-notification">
                <p>
                    <strong>有可用的更新！</strong> {{upgradeStatus.message}}
                </p>
            </section>
        {{/if}}

        <section class="gh-credits">
            <h2>贡献者</h2>

            <section class="gh-contributors">
                {{partial "contributors"}}
            </section>

            <p>Ghost由来自世界各地的一群杰出的贡献者构建。 以上是帮助创建您正在使用的版本的一些人。</p>

            <a class="gh-btn gh-btn-blue" href="https://ghost.org/developers/" target="_blank"><span>了解如何参与其中</span></a>

        </section>

        <footer class="gh-copyright-info">
            Copyright &copy; 2013 &ndash; {{copyrightYear}} Ghost Foundation, released under the <a href="https://github.com/TryGhost/Ghost/blob/master/LICENSE" target="_blank">MIT license</a>.
            <br>
            <a href="https://ghost.org/" target="_blank">Ghost</a> is a registered trademark of <a href="https://ghost.org/trademark/" target="_blank">Ghost Foundation Ltd</a>.
        </footer>
    </section>
</section>
